body{
  background:#F5F5DC;
}

.project {
  width: 800px;
  height: 800px;
  display: none;
}

.link {
  color: white;
  background: black;
  padding: 3px;
  margin: 20px;
  cursor: pointer;
}

.link:hover{
  color: black;
  background: white;
  border: 1px solid black;
}

#center{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#chColor:hover{
  animation: mymove 15s infinite;
  
  }
@keyframes mymove {
25% {color:orange;}
25% {color: hotpink;}
50% {color: Turquoise;}
}