
.container {
    height: 500px;
    width: 500px;
    position: absolute;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 15%;
    
}

h1 {
    margin-left: 15%;
    margin-top: 7%;
}


.blackSquare {
    position: absolute;
    width: 209px;
    height: 550px;
    margin-left: 0px;
    background-color: #1a1a1a;
    transform: rotate(0deg);
    z-index: 2;
    
}

.redSquare {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #c22b0a;
    transform: rotate(45deg);
    z-index: 12;
    margin-left: 312px;
    margin-top: 41px;
}

.blueGraySquare {
    position: absolute;
    transform: rotate(45deg);
    z-index: 16;
    margin-left: -184px;
    margin-top: -152px;
    background-color: #bbc0c4;
    width: 300px;
    height: 300px;
   
    
}

.blueGraySquare02 {
    position: absolute;
    transform: rotate(45deg);
    margin-left: -51px;
    margin-top: 398px;
    background-color: #bbc0c4;
    width: 520px;
    height: 520px;
     margin-bottom: 200px;
    
}

.grimyYellowSquare {
    background-color: #dea731;
    position: absolute;
    transform: rotate(45deg);
    z-index: 11;
    margin-left: -253px;
    margin-top: 250px;
    width: 300px;
    height: 300px;
    
}

.whiteGraySquare {
    background-color: #f5f5f5; 
    transform: rotate(45deg);
    z-index: 3;
    margin-left: -54px;
    margin-top: 460px;
    width: 315px;
    height: 315px;
    z-index: 12;
    position: absolute;
    
    
}

.whiteGraySquare02 {
    background-color: #f5f5f5; 
    transform: rotate(45deg);
    z-index: -1;
    margin-left: 39px;
    margin-top: 13px;
    width: 315px;
    height: 315px;
    z-index: -1;
    position: absolute;
    
    
}

.grayGraySquare {
    background-color: #807777;
    position: absolute;
    z-index: -5;
    margin-top: -150px;
    margin-left: 250px;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
}
.blackTriangle {
    width: 0px;
    height: 0px;
    margin-left: -321.5px;
    margin-top: -30px;
    border-style: solid;
    border-color: black;
    border-width: 265px;
    border-bottom-color: transparent;
    border-left-color: black;
    border-top-color:  transparent;
    border-left-color: transparent;
    z-index: 14;
    position: absolute;
    
}